/* Body */
body {
  margin: 0;
  background: lightblue;
  text-align: center;
  font-family: 'Lora', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 20px 0px 20px;
}

p {
  text-align: left;
}

/* Navbar */
nav {
  background: grey;
  display: flex;
  justify-content: space-around;
  z-index: 10000;
  position: fixed;
  top: 0px;
  width: 100%;
}

nav > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

nav > div > div {
  width: 80px;
  margin: 2px;
  border: 2px solid darkgrey;
  border-radius: 10px 10px 50% 50%;
  text-align: center;
  color: white;
}

.white-border {
  border-color: white;
}


/* Footer */
.space {
  height: 60px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: grey;
  display: flex;
  justify-content: space-around;
}

footer > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px 20px;
}

footer > div > a > img {
  max-width: 50px;
  max-height: 50px;
  object-fit: cover;
  margin: 5px 0px;
}


/* Sections */
section {
  max-width: 750px;
  width: 100%;
  
}

.hidden {
  display: none;
}


/* Projects */
#projects {
  width: 100%;
}

#projects > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0px;
}

#projects > div > a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

#projects > div > a > img {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
  margin: 5px 0px;
}

#projects > div > a > div {
  max-width: 250px;
  /* max-height: 100px; */
  padding: 10px;
  text-align: left;
  color: black;
}

#projects > div > a > div > p {
  margin: 0px;
}

.credits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}

.credits > p {
  font-size: xx-small;
  margin: 0px;
}


/* Contacts */
#contact > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
  width: 100%;
}

#contact > div > form {
  width: 100%;
}

#contact > div > form > input {
  width: 50%;
  min-width: 250px;
  margin-bottom: 20px;
}

#contact > div > form > textarea {
  width: 80%;
  min-width: 250px;
  height: 100px;
  margin-bottom: 20px;
}

#contact > div > form > input.submit {
  background: crimson;
  color: white;
  width: 25%;
  min-width: 100px;
}

