/* Body */
body {
  margin: 0;
  background: lightblue;
  text-align: center;
  font-family: 'Lora', serif;
}

p {
  text-align: left;
}

/* Navbar */
nav {
  background: grey;
  display: flex;
  height: 36px;
  z-index: 10000;
  position: fixed;
  top: 0px;
  width: 100%;
}

nav > div {
  width: 80px;
  margin: 2px;
  border: 2px solid darkgrey;
  border-radius: 10px 10px 50% 50%;
  text-align: center;
  color: white;
}

.white-border {
  border-color: white;
}


/* Sections */
section {
  padding: 20px;
}

.hidden {
  display: none;
}


/* Projects */
#projects > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0px;
}

#projects > div > a > img {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  margin: 5px 0px;
}


/* Contacts */
#contact > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0px;
}
#contact > div > a > img {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  margin: 5px 0px;
}
